<h1>目次<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#データ準備" data-toc-modified-id="データ準備-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>データ準備</a></span><ul class="toc-item"><li><span><a href="#Area54を再分割" data-toc-modified-id="Area54を再分割-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Area54を再分割</a></span><ul class="toc-item"><li><span><a href="#Area54とそれ以外に分割" data-toc-modified-id="Area54とそれ以外に分割-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Area54とそれ以外に分割</a></span></li></ul></li></ul></li><li><span><a href="#グルーピング" data-toc-modified-id="グルーピング-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>グルーピング</a></span></li><li><span><a href="#lag列を追加" data-toc-modified-id="lag列を追加-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>lag列を追加</a></span></li><li><span><a href="#標準化" data-toc-modified-id="標準化-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>標準化</a></span></li><li><span><a href="#Chainerで予測" data-toc-modified-id="Chainerで予測-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Chainerで予測</a></span><ul class="toc-item"><li><span><a href="#データの整形" data-toc-modified-id="データの整形-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>データの整形</a></span><ul class="toc-item"><li><span><a href="#データを標準化&amp;データに分割" data-toc-modified-id="データを標準化&amp;データに分割-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>データを標準化&amp;データに分割</a></span></li><li><span><a href="#乗車台数を予測" data-toc-modified-id="乗車台数を予測-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>乗車台数を予測</a></span></li></ul></li><li><span><a href="#LightGBMで予測" data-toc-modified-id="LightGBMで予測-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>LightGBMで予測</a></span></li><li><span><a href="#ハイパーパラメータの調整" data-toc-modified-id="ハイパーパラメータの調整-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>ハイパーパラメータの調整</a></span><ul class="toc-item"><li><span><a href="#距離を予測" data-toc-modified-id="距離を予測-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>距離を予測</a></span></li></ul></li></ul></li><li><span><a href="#流しのみ区画に分ける" data-toc-modified-id="流しのみ区画に分ける-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>流しのみ区画に分ける</a></span><ul class="toc-item"><li><span><a href="#緯度、経度を10等分する" data-toc-modified-id="緯度、経度を10等分する-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>緯度、経度を10等分する</a></span><ul class="toc-item"><li><span><a href="#境界値の算出" data-toc-modified-id="境界値の算出-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>境界値の算出</a></span></li><li><span><a href="#分割位置列を追加" data-toc-modified-id="分割位置列を追加-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>分割位置列を追加</a></span></li></ul></li><li><span><a href="#降車方向を追加" data-toc-modified-id="降車方向を追加-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>降車方向を追加</a></span></li></ul></li><li><span><a href="#AREA_54をクラスタリング" data-toc-modified-id="AREA_54をクラスタリング-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>AREA_54をクラスタリング</a></span><ul class="toc-item"><li><span><a href="#AREA_54のデータを抽出" data-toc-modified-id="AREA_54のデータを抽出-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>AREA_54のデータを抽出</a></span></li><li><span><a href="#土・日曜---03:00-から-06:00" data-toc-modified-id="土・日曜---03:00-から-06:00-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>土・日曜 - 03:00 から 06:00</a></span></li><li><span><a href="#DBSCANでクラスタ数を決める。" data-toc-modified-id="DBSCANでクラスタ数を決める。-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>DBSCANでクラスタ数を決める。</a></span></li><li><span><a href="#SpectralClustering" data-toc-modified-id="SpectralClustering-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>SpectralClustering</a></span><ul class="toc-item"><li><span><a href="#平日---15:00" data-toc-modified-id="平日---15:00-7.4.1"><span class="toc-item-num">7.4.1&nbsp;&nbsp;</span>平日 - 15:00</a></span></li><li><span><a href="#平日---22:00" data-toc-modified-id="平日---22:00-7.4.2"><span class="toc-item-num">7.4.2&nbsp;&nbsp;</span>平日 - 22:00</a></span></li></ul></li></ul></li><li><span><a href="#AREA_54の需要台数を予測" data-toc-modified-id="AREA_54の需要台数を予測-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>AREA_54の需要台数を予測</a></span><ul class="toc-item"><li><span><a href="#area_54で乗車した際の進行方向" data-toc-modified-id="area_54で乗車した際の進行方向-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>area_54で乗車した際の進行方向</a></span></li><li><span><a href="#ここまでのデータを保存" data-toc-modified-id="ここまでのデータを保存-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>ここまでのデータを保存</a></span></li></ul></li><li><span><a href="#分析方針" data-toc-modified-id="分析方針-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>分析方針</a></span></li></ul></div>

## データ準備

In [1]:
import pandas as pd 
import numpy as np
import copy
from datetime import datetime as dt

from matplotlib import pyplot as plt
import seaborn as sns

# warningの抑止
import warnings
warnings.filterwarnings('ignore')

# メモリ解放
import gc

In [2]:
pd.set_option("display.max_columns", 80)

# データを読み込む
df = pd.read_csv("data/edit_train_final_v2.csv")

df.head()

,year,month,day,weekday,hour,minute,holiday,riding_time,distance,CALL_TYPE,direction,area
0,2013,7,1,mon,0,0,o,375,2.395003,C,NE,area_c_22
1,2013,7,1,mon,0,0,o,645,10.114430,C,NE,area_c_other
2,2013,7,1,mon,0,0,o,345,3.186095,C,NE,area_c_12
3,2013,7,1,mon,0,0,o,330,2.549688,C,NE,area_c_13
4,2013,7,1,mon,0,0,o,645,10.080812,C,NE,area_c_13

area_54 = [(-8.6291, -8.5891), (41.1179, 41.1579]

## グルーピング

In [7]:
groped_df = df.groupby([
    "year", "month", "day", "weekday", "hour", "minute", "holiday",
    "CALL_TYPE", "area"
]).count()

groped_df["riding_time_mean"] = df.groupby([
    "year", "month", "day", "weekday", "hour", "minute", "holiday", "CALL_TYPE"
])["riding_time"].mean()

groped_df["distance_mean"] = df.groupby([
    "year", "month", "day", "weekday", "hour", "minute", "holiday", "CALL_TYPE"
])["distance"].mean()

groped_df["direction"] = df.groupby([
    "year", "month", "day", "weekday", "hour", "minute", "holiday", "CALL_TYPE"
])["direction"].max()

# カラム名を変更
groped_df.rename(columns={"distance": "count"}, inplace=True)

# 要らない列を削除
groped_df.drop(["riding_time"], axis=1, inplace=True)

groped_df.head()

                                                                count  \
year month day weekday hour minute holiday CALL_TYPE area
2013 7     1   mon     0    0      o       A         area_a         4
                                           B         area_b         3
                                           C         area_c_12      2
                                                     area_c_13      4
                                                     area_c_14      1

                                                               direction  \
year month day weekday hour minute holiday CALL_TYPE area
2013 7     1   mon     0    0      o       A         area_a           NE
                                           B         area_b           NE
                                           C         area_c_12        NE
                                                     area_c_13        NE
                                                     area_c_14        NE

                                                                riding_time_mean  \
year month day weekday hour minute holiday CALL_TYPE area
2013 7     1   mon     0    0      o       A         area_a               588.75
                                           B         area_b               555.00
                                           C         area_c_12            528.00
                                                     area_c_13            528.00
                                                     area_c_14            528.00

                                                                distance_mean
year month day weekday hour minute holiday CALL_TYPE area
2013 7     1   mon     0    0      o       A         area_a          7.435132
                                           B         area_b          9.152017
                                           C         area_c_12       6.569055
                                                     area_c_13       6.569055
                                                     area_c_14       6.569055

In [8]:
# インデックスをカラムに戻す
groped_df.reset_index(inplace=True)

In [9]:
groped_df.head()

,year,month,day,weekday,hour,minute,holiday,CALL_TYPE,area,count,direction,riding_time_mean,distance_mean
0,2013,7,1,mon,0,0,o,A,area_a,4,NE,588.75,7.435132
1,2013,7,1,mon,0,0,o,B,area_b,3,NE,555.00,9.152017
2,2013,7,1,mon,0,0,o,C,area_c_12,2,NE,528.00,6.569055
3,2013,7,1,mon,0,0,o,C,area_c_13,4,NE,528.00,6.569055
4,2013,7,1,mon,0,0,o,C,area_c_14,1,NE,528.00,6.569055

In [10]:
add_cols = [
    'area_a', 'area_b', 'area_c_other', 
    'area_c_00', 'area_c_01', 'area_c_02', 'area_c_03', 'area_c_04', 
    'area_c_10', 'area_c_11', 'area_c_12', 'area_c_13', 'area_c_14', 
    'area_c_20', 'area_c_21', 'area_c_22', 'area_c_23', 'area_c_24', 
    'area_c_30', 'area_c_31', 'area_c_32', 'area_c_33', 'area_c_34', 
    "area_c_40", "area_c_41", "area_c_42", "area_c_43", "area_c_44"
]

for name in add_cols:
    groped_df[name] = 0

In [11]:
groped_df["area_a"] = groped_df.query("area == 'area_a'")["count"]
groped_df["area_b"] = groped_df.query("area == 'area_b'")["count"]
groped_df["area_c_other"] = groped_df.query("area == 'area_c_other'")["count"]

groped_df["area_c_00"] = groped_df.query("area == 'area_c_00'")["count"]
groped_df["area_c_01"] = groped_df.query("area == 'area_c_01'")["count"]
groped_df["area_c_02"] = groped_df.query("area == 'area_c_02'")["count"]
groped_df["area_c_03"] = groped_df.query("area == 'area_c_03'")["count"]
groped_df["area_c_04"] = groped_df.query("area == 'area_c_04'")["count"]

groped_df["area_c_10"] = groped_df.query("area == 'area_c_10'")["count"]
groped_df["area_c_11"] = groped_df.query("area == 'area_c_11'")["count"]
groped_df["area_c_12"] = groped_df.query("area == 'area_c_12'")["count"]
groped_df["area_c_13"] = groped_df.query("area == 'area_c_13'")["count"]
groped_df["area_c_14"] = groped_df.query("area == 'area_c_14'")["count"]

groped_df["area_c_20"] = groped_df.query("area == 'area_c_00'")["count"]
groped_df["area_c_21"] = groped_df.query("area == 'area_c_21'")["count"]
groped_df["area_c_22"] = groped_df.query("area == 'area_c_22'")["count"]
groped_df["area_c_23"] = groped_df.query("area == 'area_c_23'")["count"]
groped_df["area_c_24"] = groped_df.query("area == 'area_c_24'")["count"]

groped_df["area_c_30"] = groped_df.query("area == 'area_c_30'")["count"]
groped_df["area_c_31"] = groped_df.query("area == 'area_c_31'")["count"]
groped_df["area_c_32"] = groped_df.query("area == 'area_c_32'")["count"]
groped_df["area_c_33"] = groped_df.query("area == 'area_c_33'")["count"]
groped_df["area_c_34"] = groped_df.query("area == 'area_c_34'")["count"]

groped_df["area_c_40"] = groped_df.query("area == 'area_c_40'")["count"]
groped_df["area_c_41"] = groped_df.query("area == 'area_c_41'")["count"]
groped_df["area_c_42"] = groped_df.query("area == 'area_c_42'")["count"]
groped_df["area_c_43"] = groped_df.query("area == 'area_c_43'")["count"]
groped_df["area_c_44"] = groped_df.query("area == 'area_c_44'")["count"]

groped_df.fillna(0, inplace=True)


# 要らない列を削除
groped_df.drop([
    "area", "count"
],   axis=1,inplace=True)

In [12]:
groped_df.head()

,year,month,day,weekday,hour,minute,holiday,CALL_TYPE,direction,riding_time_mean,distance_mean,area_a,area_b,area_c_other,area_c_00,area_c_01,area_c_02,area_c_03,area_c_04,area_c_10,area_c_11,area_c_12,area_c_13,area_c_14,area_c_20,area_c_21,area_c_22,area_c_23,area_c_24,area_c_30,area_c_31,area_c_32,area_c_33,area_c_34,area_c_40,area_c_41,area_c_42,area_c_43,area_c_44
0,2013,7,1,mon,0,0,o,A,NE,588.75,7.435132,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013,7,1,mon,0,0,o,B,NE,555.00,9.152017,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2013,7,1,mon,0,0,o,C,NE,528.00,6.569055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2013,7,1,mon,0,0,o,C,NE,528.00,6.569055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2013,7,1,mon,0,0,o,C,NE,528.00,6.569055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
group_a_df =  groped_df.query("CALL_TYPE == 'A'")

group_b_df =  groped_df.query("CALL_TYPE == 'B'")

group_c_df =  groped_df.query("CALL_TYPE == 'C'")

In [15]:
display(group_a_df.head(), group_a_df.shape)

,year,month,day,weekday,hour,minute,holiday,CALL_TYPE,direction,riding_time_mean,distance_mean,area_a,area_b,area_c_other,area_c_00,area_c_01,area_c_02,area_c_03,area_c_04,area_c_10,area_c_11,area_c_12,area_c_13,area_c_14,area_c_20,area_c_21,area_c_22,area_c_23,area_c_24,area_c_30,area_c_31,area_c_32,area_c_33,area_c_34,area_c_40,area_c_41,area_c_42,area_c_43,area_c_44
0,2013,7,1,mon,0,0,o,A,NE,588.75,7.435132,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2013,7,1,mon,0,15,o,A,NE,723.00,7.553086,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2013,7,1,mon,0,30,o,A,NE,580.00,4.617731,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2013,7,1,mon,0,45,o,A,NE,1140.00,10.910240,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2013,7,1,mon,1,0,o,A,NE,438.75,3.693502,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(34629, 39)

In [32]:
display(group_b_df.head(), group_b_df.shape)

,year,month,day,weekday,hour,minute,holiday,CALL_TYPE,direction,riding_time_mean,distance_mean,area_a,area_b,area_c_other,area_c_00,area_c_01,area_c_02,area_c_03,area_c_04,area_c_10,area_c_11,area_c_12,area_c_13,area_c_14,area_c_20,area_c_21,area_c_22,area_c_23,area_c_24,area_c_30,area_c_31,area_c_32,area_c_33,area_c_34,area_c_40,area_c_41,area_c_42,area_c_43,area_c_44
1,2013,7,1,mon,0,0,o,B,NE,555.0,9.152017,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2013,7,1,mon,0,15,o,B,NE,810.0,10.265745,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2013,7,1,mon,0,30,o,B,NE,210.0,2.313064,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2013,7,1,mon,0,45,o,B,NE,402.0,3.259899,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2013,7,1,mon,1,0,o,B,NE,420.0,3.900697,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(34955, 39)

In [17]:
group_c_df = group_c_df.groupby([
    "year", "month", "day", "weekday", "hour", "minute", "holiday",
    "CALL_TYPE", "direction", "riding_time_mean", "distance_mean"
]).max()

# インデックスをカラムに戻す
group_c_df.reset_index(inplace=True)

display(group_c_df.head(), group_c_df.shape)

,year,month,day,weekday,hour,minute,holiday,CALL_TYPE,direction,riding_time_mean,distance_mean,area_a,area_b,area_c_other,area_c_00,area_c_01,area_c_02,area_c_03,area_c_04,area_c_10,area_c_11,area_c_12,area_c_13,area_c_14,area_c_20,area_c_21,area_c_22,area_c_23,area_c_24,area_c_30,area_c_31,area_c_32,area_c_33,area_c_34,area_c_40,area_c_41,area_c_42,area_c_43,area_c_44
0,2013,7,1,mon,0,0,o,C,NE,528.000000,6.569055,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,1.0,0.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013,7,1,mon,0,15,o,C,NE,610.227273,8.337646,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,3.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2013,7,1,mon,0,30,o,C,NE,752.142857,8.380509,0.0,0.0,8.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2013,7,1,mon,0,45,o,C,NE,499.500000,7.471469,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2013,7,1,mon,1,0,o,C,NE,709.500000,8.667335,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(34980, 39)

In [18]:
group_a_df.to_csv("data/train_final_group_a.csv", index=False, header=True)
group_b_df.to_csv("data/train_final_group_b.csv", index=False, header=True)
group_c_df.to_csv("data/train_final_group_c.csv", index=False, header=True)


行数が異なるので、調査
- 1日=15分＊24時間＝96レコード
- 1年=96レコード＊365日＝35040レコード
全く足りていない＝＞正しい時系列が作れない。

In [45]:
for index,item in group_c_df.iterrows():

    for index,item in group_a_df.iterrows():

,year_b,month_b,day_b,weekday_b,hour_b,minute_b,holiday_b,year_c,month_c,day_c,weekday_c,hour_c,minute_c,holiday_c
1,2013,7,1,mon,0,0,o,2013.0,7.0,1.0,mon,0.0,15.0,o
11,2013,7,1,mon,0,15,o,2013.0,7.0,1.0,mon,2.0,45.0,o
19,2013,7,1,mon,0,30,o,2013.0,7.0,1.0,mon,4.0,45.0,o
26,2013,7,1,mon,0,45,o,2013.0,7.0,1.0,mon,6.0,45.0,o
33,2013,7,1,mon,1,0,o,2013.0,7.0,1.0,mon,8.0,30.0,o

In [57]:
temp_df["diff"] = (temp_df["minute_b"] == temp_df["minute_c"])

# temp_df.query("diff == FALSE")


#     "year_b", "month_b", "day_b", "weekday_b", "hour_b",     
#     "holiday_b"
#     "year_a", "month_a", "day_a", "weekday_a", "hour_a", 
#     "holiday_a"

1         False
11        False
19        False
26         True
33        False
40         True
46        False
52        False
55         True
61        False
65         True
69        False
75         True
83        False
89         True
95        False
100       False
105       False
110       False
116       False
120       False
126       False
130       False
134        True
139        True
141       False
145        True
152       False
155        True
160        True
          ...
225504    False
225512    False
225519    False
225526    False
225532    False
225538    False
225545    False
225551    False
225556    False
225564    False
225571    False
225575    False
225581    False
225587    False
225591    False
225598    False
225603    False
225611    False
225618    False
225623    False
225630    False
225637    False
225646    False
225653    False
225658    False
225664    False
225673    False
225678    False
225683    False
225694    False
Name: diff, Length: 34955, dtype: bool

In [ ]:
diff_a_b = pd.DataFrame((grope_a_df[[
    "month", "weekday", "hour", "minute", "holiday", "CALL_TYPE", "direction",
    "riding_time_mean", "distance_mean"
]] == grope_b_df[[
    "month", "weekday", "hour", "minute", "holiday", "CALL_TYPE", "direction",
    "riding_time_mean", "distance_mean"
]]))

# diff_a_b.query("diff == False")

## lag列を追加

15分前、15分後の
- count
- riding_time_mean
- distance_mean  

を追加

In [ ]:
# CALL_TYPE=Aの60分前データを追加
groped_df[[
    "count_before_60", "riding_time_mean_before_60", "distance_mean_before_60"
]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=4)

# CALL_TYPE=Aの45分前データを追加
groped_df[[
    "count_before_45", "riding_time_mean_before_45", "distance_mean_before_45"
]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=3)

# CALL_TYPE=Aの30分前データを追加
groped_df[[
    "count_before_30", "riding_time_mean_before_30", "distance_mean_before_30"
]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=2)

# CALL_TYPE=Aの15分前データを追加
groped_df[[
    "count_before_15", "riding_time_mean_before_15", "distance_mean_before_15"
]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=1)

# CALL_TYPE=Aの15分後データを追加
groped_df[["count_after_15", "riding_time_mean_after_15", "distance_mean_after_15"
    ]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=-1)

# CALL_TYPE=Aの30分後データを追加
groped_df[["count_after_30", "riding_time_mean_after_30", "distance_mean_after_30"
    ]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=-2)

# CALL_TYPE=Aの45分後データを追加
groped_df[["count_after_45", "riding_time_mean_after_45", "distance_mean_after_45"
    ]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=-3)

# CALL_TYPE=Aの60分後データを追加
groped_df[["count_after_60", "riding_time_mean_after_60", "distance_mean_after_60"
    ]] = groped_df[["count", "riding_time_mean", "distance_mean"]].shift(periods=-4)

In [ ]:
# shift結果の欠損値を含む行を削除
groped_df.dropna(inplace=True)

In [ ]:
groped_df.head()

In [ ]:
# インデックスをカラムに戻す
groped_df.reset_index(inplace=True)

In [ ]:
groped_dummy_df = pd.get_dummies(groped_df)

In [ ]:
groped_dummy_df.columns

In [ ]:
col_names = [
    'CALL_TYPE_A', 'CALL_TYPE_B', 'CALL_TYPE_C', 'area_other', 
    'month', 'hour', 'minute',
    'weekday_mon', 'weekday_tue', 'weekday_wed', 'weekday_thu', 'weekday_fri', 'weekday_sat', 'weekday_sun', 
    'holiday_o', 'holiday_h', 
    'count_before_60','count_before_45', 'count_before_30', 'count_before_15', 
    'count_after_15', 'count_after_30', 'count_after_45', 'count_after_60',
    'riding_time_mean_before_60', 'riding_time_mean_before_45', 'riding_time_mean_before_30', 'riding_time_mean_before_15',
    'riding_time_mean_after_15', 'riding_time_mean_after_30', 'riding_time_mean_after_45', 'riding_time_mean_after_60',
    'distance_mean_before_60', 'distance_mean_before_45', 'distance_mean_before_30', 'distance_mean_before_15',
    'distance_mean_after_15', 'distance_mean_after_30', 'distance_mean_after_45', 'distance_mean_after_60', 
    'riding_time_mean', 'distance_mean', 
    'area_a', 'area_b', 'area_c_other',
    'area_c_00', 'area_c_01', 'area_c_02', 'area_c_03', 'area_c_04', 
    'area_c_10', 'area_c_11', 'area_c_12', 'area_c_13', 'area_c_14', 
    'area_c_20', 'area_c_21', 'area_c_22', 'area_c_23', 'area_c_24',
    'area_c_30', 'area_c_31', 'area_c_32', 'area_c_33', 'area_c_34', 
    'count'
]

# 列の並び替え
groped_dummy_df = groped_dummy_df.reindex(col_names, axis=1)

groped_dummy_df.head()

## 標準化

In [ ]:
groped_dummy_df.shape
groped_dummy_df.iloc[:, 0:65].head()

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# 標準正規分布で標準化
scaler = StandardScaler()

X = np.array(groped_dummy_df.iloc[:, 0:65])
X = scaler.fit_transform(X)

Y = np.array(groped_dummy_df.iloc[:, -1:])

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=1234)

In [ ]:
X_train.shape,y_train.shape

## Chainerで予測

In [ ]:
import chainer.links as L
import chainer.functions as F
from chainer import Chain

最終的な出力は

- Call_Type=A :area=other
- Call_Type=B :area=other
- Call_Type=C :area=other
- Call_Type=C :25

の28種類

In [ ]:
class Model(Chain):
    def __init__(self):
        super(Model, self).__init__()
        with self.init_scope():
            self.l1 = L.Linear(65, 50)
            self.l2 = L.Linear(50, 35)
            self.l3 = L.Linear(35, 28)

    def __call__(self, x):
        h = self.l1(x)
        h = F.relu(h)
        h = self.l2(h)
        h = F.relu(h)
        h = self.l3(h)
        
        # マイナスをゼロに変換         
        return F.relu(h)

In [ ]:
model = Model()

### データの整形

In [ ]:
X_train = X_train.astype(np.float32)
X_test = X_test.astype(np.float32)
y_train = y_train.astype(np.int32)
y_test = y_test.astype(np.int32)

In [ ]:
from chainer import Variable

X_train_var = Variable(X_train)
y_train_var = Variable(y_train)

#### データを標準化&データに分割

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# 標準正規分布で標準化
scaler = StandardScaler()

# riding_time_mean 	distance_meanを特徴量に入れた場合
# X = np.array(train_groped_df.iloc[:, 0:17])

# riding_time_mean 	distance_meanを特徴量に入れるとRMSEが悪くなるので外す。
X = np.array(train_groped_df.iloc[:, 0:15])
X = scaler.fit_transform(X)

Y = np.array(train_groped_df.iloc[:, -3:])

# クロスバリデーション用にテストデータを分割(学習：75% テスト:25%)
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, random_state=1234)

In [ ]:
train_groped_df.shape, X.shape,Y.shape

In [ ]:
X[:3],Y[:3]

#### 乗車台数を予測

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [ ]:
DecisionTreeRegressor()

In [ ]:
# AdaBoostをインスタンス化
ada_count = AdaBoostRegressor(
#         base_estimator=DecisionTreeRegressor(), random_state=1234)
    base_estimator=DecisionTreeRegressor(max_depth=15), learning_rate=0.5, n_estimators=100,random_state=1234)
# ada = AdaBoostRegressor(random_state=1234)

# X_train：特徴量のデータ、y_train：教師データ（実車台数）で学習
ada_count.fit(X_train, y_train[:, 2])

# X_testで予測し、結果を y_pred に格納
y_pred = ada_count.predict(X_test)

# 予測（y_pred）と答え（y_train2）の誤差を計算
ada_mse = mean_squared_error(y_test[:, 2], y_pred)

print("### AdaBoostRegressor detail: \n{}".format(ada_count))

print("### RMSE: {}".format(np.sqrt(ada_mse)))
print("### feature_importances_: \n{}".format(ada_count.feature_importances_))

print("### [train] coefficient of determination R^2: {:.2f}".format(ada_count.score(X_train, y_train[:, 2])))
print("### [test] coefficient of determination R^2: {:.2f}".format( ada_count.score(X_test, y_test[:, 2])))

### LightGBMで予測

In [ ]:
import lightgbm as lgb

# デフォルトを確認
lgb.LGBMRegressor()

In [ ]:
import lightgbm as lgb

# 上記のパラメータでモデルを学習する
lgb_reg = lgb.LGBMRegressor(
#     objective="regression_l2",
#     num_leaves = 700,
#     boosting = "dart",
#     num_leaves = 50,
    learning_rate=0.25,
    n_estimators=1000,
    max_depth=10)
lgb_reg.fit(X_train, y_train[:, 2])

# テストデータを予測する
y_pred = lgb_reg.predict(X_test)

# 予測（y_pred）と答え（y_train2）の誤差を計算
lgb_mse = mean_squared_error(y_test[:, 2], y_pred)

print("### RMSE: {}".format(np.sqrt(lgb_mse)))
print("### feature_importances_: \n{}".format(lgb_reg.feature_importances_))

print("### [train] coefficient of determination R^2: {:.2f}".format(lgb_reg.score(X_train, y_train[:, 2])))
print("### [test] coefficient of determination R^2: {:.2f}".format(lgb_reg.score(X_test, y_test[:, 2])))

### ハイパーパラメータの調整

In [ ]:
from sklearn.model_selection import GridSearchCV
params = {
    "n_estimators": [50, 75, 100],
    "learning_rate": [0.1, 0.25, 0.5],
    "max_depth": [7, 10, 15]
}

gscv = GridSearchCV(
    lgb_reg, param_grid=params, verbose=1, cv=3, scoring='neg_mean_squared_error')

In [ ]:
# グリッドサーチ実行
gscv.fit(X_train, y_train[:, 2])

n_estimators、learning_rateもデフォルトのままが良い。

In [ ]:
train_groped_df.head(2).values

In [ ]:
# 予測してみる([1月 00:00 金曜、平日、センター],[1月 00:00 金曜、平日、スタンド])
ada_count.predict(
    np.array([[1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0],
              [1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0]]))

In [ ]:
# ada_count.predict(X_test),y_test
lgb_reg.predict(X_test),y_test

#### 距離を予測

In [ ]:
# AdaBoostをインスタンス化
ada_distance = AdaBoostRegressor(
    base_estimator=DecisionTreeRegressor(max_depth=10),
    learning_rate=0.01,
    n_estimators=1000,
    random_state=1234)

# X_train：特徴量のデータ、y_train：教師データ（距離平均）で学習
ada_distance.fit(X_train, y_train[:, 1])

# X_testで予測し、結果を y_pred に格納
y_pred = ada_distance.predict(X_test)

# 予測（y_pred）と答え（y_train2）の誤差を計算
ada_mse = mean_squared_error(y_test[:, 1], y_pred)

print("### RMSE: {}".format(np.sqrt(ada_mse)))
print("### feature_importances_: \n{}".format(ada_distance.feature_importances_))

print("### [train] coefficient of determination R^2: {:.2f}".format(ada_distance.score(X_train, y_train[:, 1])))
print("### [test] coefficient of determination R^2: {:.2f}".format(ada_distance.score(X_test, y_test[:, 1])))

__TODO:距離の精度を上げる。__

## 流しのみ区画に分ける

In [ ]:
df_call_type_c = df[df["CALL_TYPE"] == "C"]

In [ ]:
plt.scatter(df_call_type_c["end_x"], df_call_type_c["end_y"], color ='r')
plt.scatter(df_call_type_c["start_x"], df_call_type_c["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-9.45, -6.65)
plt.ylim(37.15, 42.0)
plt.grid()

In [ ]:
df_call_type_c.describe()[["riding_time", "distance", "start_x", "start_y", "end_x", "end_y"]]

long = -9度 ～ -7度は距離的に222km位なので、
start_xとstart_yの平均を中心（-8.6291,  41.1579)を中心に20km(= 40km,40km)に範囲を絞ってみる。  

0.01度=1.11kmなので、0.2度=22.2km
-8.6291 ±　0.2
41.1579 ±　0.2

のデータに絞る。

In [ ]:
-8.6291 + 0.20, -8.6291 - 0.20, 41.1579 + 0.20, 41.1579 - 0.20

In [ ]:
df_call_type_c_limited = df_call_type_c.query(
    "-8.829099999999999 <= start_x <= -8.4291 and 40.957899999999995 <= start_y <= 41.3579"
)

df_call_type_c_limited.shape, df_call_type_c.shape, df_call_type_c_limited.shape[
    0] / df_call_type_c.shape[0]

99.8%が　(40,40)圏内にいる。

In [ ]:
(-8.4291 - (-8.829099999999999)) * 111, (41.3579 - 40.957899999999995) * 111

### 緯度、経度を10等分する

#### 境界値の算出

In [ ]:
long_cut, long_bins = pd.cut(pd.Series([-8.829099999999999, -8.4291]), 10, retbins=True)

lat_cut, lat_bins = pd.cut(pd.Series([40.957899999999995, 41.3579]), 10, retbins=True)

long_bins, lat_bins

#### 分割位置列を追加

In [ ]:
def split_area(row):

    long_bins = [
        -8.7891, -8.7491, -8.7091, -8.6691, -8.6291, -8.5891, -8.5491, -8.5091,
        -8.4691, -8.4291
    ]

    lat_bins = [
        40.9979, 41.0379, 41.0779, 41.1179, 41.1579, 41.1979, 41.2379, 41.2779,
        41.3179, 41.3579
    ]

    area = [
        [ "area_00", "area_01", "area_02", "area_03", "area_04", "area_05", "area_06", "area_07", "area_08", "area_09" ]
        ,["area_10", "area_11", "area_12", "area_13", "area_14", "area_15", "area_16", "area_17", "area_18", "area_19" ]
        ,["area_20", "area_21", "area_22", "area_23", "area_24", "area_25", "area_26", "area_27", "area_28", "area_29" ]
        ,["area_30", "area_31", "area_32", "area_33", "area_34", "area_35", "area_36", "area_37", "area_38", "area_39" ]
        ,["area_40", "area_41", "area_42", "area_43", "area_44", "area_45", "area_46", "area_47", "area_48", "area_49" ]
        ,["area_50", "area_51", "area_52", "area_53", "area_54", "area_55", "area_56", "area_57", "area_58", "area_59" ]
        ,["area_60", "area_61", "area_62", "area_63", "area_64", "area_65", "area_66", "area_67", "area_68", "area_69" ]
        ,["area_70", "area_71", "area_72", "area_73", "area_74", "area_75", "area_76", "area_77", "area_78", "area_79" ]
        ,["area_80", "area_81", "area_82", "area_83", "area_84", "area_85", "area_86", "area_87", "area_88", "area_89" ]
        ,["area_90", "area_91", "area_92", "area_93", "area_94", "area_95", "area_96", "area_97", "area_98", "area_99" ]
    ]

    _start_long = row["start_x"]
    _start_lat = row["start_y"]

    for i, x in enumerate(long_bins):

        if _start_long < x:
            for j, y in enumerate(lat_bins):
                if _start_lat < y:
                    return area[i][j]

    return "area_err"


df_call_type_c_limited["area"] = df_call_type_c_limited.apply(split_area, axis=1)

In [ ]:
df_call_type_c_limited.columns

In [ ]:
# 要らない列を削除
df_call_type_c_limited.drop(
    ["TIMESTAMP", "year", "day", "CALL_TYPE", "TAXI_ID"], axis=1, inplace=True)

col_names = [
    "month", "weekday", "hour", "minute", "holiday", "start_x", "start_y",
    "end_x", "end_y", "riding_time", "distance", "area"
]

# 列の並び替え
df_call_type_c_limited = df_call_type_c_limited.reindex(col_names, axis=1)

df_call_type_c_limited.head()

area_54 = [(-8.6291, -8.5891), (41.1179, 41.1579]

In [ ]:
prop = (df_call_type_c_limited["area"].value_counts() / df_call_type_c_limited.shape[0])

sns.countplot(x="area", order=prop.index, data=df_call_type_c_limited)

# 割合
prop.head(10)

In [ ]:
# 上位５エリアで87%
0.500245 + 0.147474 + 0.104001 + 0.079077 + 0.048332
# + 0.038235

時間毎に集計すれば乗車実績ベースの確率はでるが、データ編集しただけでつまらない・・・    
TODO:ヒートマップみたいにエリア毎に、確立を図示するには？

### 降車方向を追加

緯度に対する角度で分割

In [ ]:
print("### E:{} - {}度".format(360 - 22.5, -22.5 + 45))
print("### NE:{} - {}度".format(22.5, 22.5 + 45))
print("### N:{} - {}度".format(67.5, 67.5 + 45))
print("### NW:{} - {}度".format(112.5, 112.5 + 45))
print("### W:{} - {}度".format(157.5, 157.5 + 45))
print("### SW:{} - {}度".format(202.5, 202.5 + 45))
print("### S:{} - {}度".format(247.5, 247.5 + 45))
print("### SE:{} - {}度".format(292.5, 292.5 + 45))

In [ ]:
def get_direction(row):

    _start_x = row["start_x"]
    _start_y = row["start_y"]

    _end_x = row["end_x"]
    _end_y = row["end_y"]

    # 原点を start_x、start_y に移動
    _v1 = np.array([1.0, 0.0])
    _v2 = np.array([_end_x - _start_x, _end_y - _start_y])

    # コサインを算出
    _cosine = np.dot(_v1, _v2) / np.linalg.norm(_v2)

    # 角度をラジアンから度に変換
    _degree = np.rad2deg(np.arccos(_cosine))

    if _degree > 337.5 or _degree <= 22.5:
        return "E"
    elif _degree > 22.5 or _degree <= 67.5:
        return "NE"
    elif _degree > 67.5 or _degree <= 112.5:
        return "N"
    elif _degree > 112.5 or _degree <= 157.5:
        return "NW"
    elif _degree > 157.5 or _degree <= 202.5:
        return "W"
    elif _degree > 202.5 or _degree <= 247.5:
        return "SW"
    elif _degree > 247.5 or _degree <= 292.5:
        return "S"
    elif _degree > 292.5 or _degree <= 337.5:
        return "SE"

    return "EQ"


df_call_type_c_limited["direction"] = df_call_type_c_limited.apply(get_direction, axis=1)

In [ ]:
df_call_type_c_limited.head()

In [ ]:
print(
    df_call_type_c_limited.query('direction == "EQ" and area == "area_54"').shape[0],
    df_call_type_c_limited.query('area == "area_54"').shape[0])

# 乗降ポイントが同じ乗車履歴が UN になっている
df_call_type_c_limited[df_call_type_c_limited["direction"] == "EQ"].head()

## AREA_54をクラスタリング

### AREA_54のデータを抽出

- 日曜 - 04:00
- 水曜 - 15:00
- 金曜 - 22:00

と思ったが、サンプル数が少ないので
- 土・日曜 - 04:00
- 平日 - 15:00
- 平日 - 22:00

でクラスタリング

In [ ]:
area_54_df = df_call_type_c_limited.query('area == "area_54"')

area_54_df.reset_index(drop=True, inplace=True)

area_54_df.head()

area_54 = [(-8.6291, -8.5891), (41.1179, 41.1579]

### 土・日曜 - 03:00 から 06:00

In [ ]:
area_54_categ_1 = area_54_df.query(
    "weekday in ['sun', 'sat'] and 3 <= hour <= 6")

area_54_categ_1.reset_index(drop=True, inplace=True)

area_54_categ_1.shape

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1["end_x"], area_54_categ_1["end_y"], color ='r')
plt.scatter(area_54_categ_1["start_x"], area_54_categ_1["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.8, -8.2)
plt.ylim(40.6, 41.6)
plt.grid()

### DBSCANでクラスタ数を決める。

In [ ]:
area_54_dummy_categ_1 = pd.get_dummies(area_54_categ_1)
area_54_dummy_categ_1.head()

In [ ]:
# 要らない列を削除
area_54_dummy_categ_1.drop([
    "month", "hour", "minute", "weekday_sat", "weekday_sun", "holiday_h",
    "holiday_o", "area_area_54"
#     , "direction_E", "direction_EQ", "direction_NE"
],
                           axis=1,
                           inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
area_54_dummy_categ_1 = scaler.fit_transform(area_54_dummy_categ_1)

pd.DataFrame(
    area_54_dummy_categ_1,
    columns=[
        "start_x", "start_y", "end_x", "end_y", "riding_time", "distance",
        "direction_E", "direction_EQ", "direction_NE"
    ]).describe()

In [ ]:
from sklearn.cluster import DBSCAN

# dbscan = DBSCAN(eps=0.5, min_samples=5)
dbscan = DBSCAN(eps=0.7, min_samples=100)

dbscan_cluster =dbscan.fit_predict(area_54_dummy_categ_1)

In [ ]:
dbscan

In [ ]:
area_54_categ_1.shape[0],np.unique(dbscan_cluster)

In [ ]:
len(np.where(dbscan_cluster==-1)[0])

In [ ]:
print(
    len(np.where(dbscan_cluster == 0)[0]), 
    len(np.where(dbscan_cluster == 1)[0]), 
    len(np.where(dbscan_cluster == 2)[0]),
    len(np.where(dbscan_cluster == 3)[0]))

In [ ]:
idx_cls_e = np.where(dbscan_cluster == -1)
idx_cls_e

In [ ]:
# クラスター番号 -1 に属するデータ
area_54_categ_1.iloc[0]

In [ ]:
# クラスター -1 に属するインデックス番号を取得
idx_cls_e = np.where(dbscan_cluster == -1)
area_54_categ_1_e = area_54_categ_1.iloc[idx_cls_e[0]]

# クラスター 0 に属するインデックス番号を取得
idx_cls_0 = np.where(dbscan_cluster == 0)
area_54_categ_1_0 = area_54_categ_1.iloc[idx_cls_0[0]]

# クラスター 1 に属するインデックス番号を取得
idx_cls_1 = np.where(dbscan_cluster == 1)
area_54_categ_1_1 = area_54_categ_1.iloc[idx_cls_1[0]]

# # クラスター 2 に属するインデックス番号を取得
idx_cls_2 = np.where(dbscan_cluster == 2)
area_54_categ_1_2 = area_54_categ_1.iloc[idx_cls_2[0]]

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_e["end_x"], area_54_categ_1_e["end_y"], color ='r')
plt.scatter(area_54_categ_1_e["start_x"], area_54_categ_1_e["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.8, -8.4)
plt.ylim(40.6, 41.6)
plt.grid()

# area_54_categ_1_e.describe()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_0["end_x"], area_54_categ_1_0["end_y"], color ='r')
plt.scatter(area_54_categ_1_0["start_x"], area_54_categ_1_0["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.8, -8.4)
plt.ylim(40.6, 41.6)
plt.grid()

# area_54_categ_1_0.describe()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_1["end_x"], area_54_categ_1_1["end_y"], color ='r')
plt.scatter(area_54_categ_1_1["start_x"], area_54_categ_1_1["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.8, -8.4)
plt.ylim(40.6, 41.6)
plt.grid()

# area_54_categ_1_1.describe()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_2["end_x"], area_54_categ_1_2["end_y"], color ='r')
plt.scatter(area_54_categ_1_2["start_x"], area_54_categ_1_2["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.8, -8.4)
plt.ylim(40.6, 41.6)
plt.grid()

# area_54_categ_1_2.describe()

### SpectralClustering

In [ ]:
from sklearn import cluster

sc=cluster.SpectralClustering(n_clusters=4, affinity="nearest_neighbors")
sc_cluster =sc.fit_predict(area_54_dummy_categ_1)

In [ ]:
sc

In [ ]:
area_54_categ_1.shape[0],np.unique(sc_cluster)

In [ ]:
# クラスター -1 に属するインデックス番号を取得
idx_cls_sc_0 = np.where(sc_cluster == 0)
area_54_categ_1_sc_0 = area_54_categ_1.iloc[idx_cls_sc_0[0]]

# クラスター 0 に属するインデックス番号を取得
idx_cls_sc_1 = np.where(sc_cluster == 1)
area_54_categ_1_sc_1 = area_54_categ_1.iloc[idx_cls_sc_1[0]]

# クラスター 1 に属するインデックス番号を取得
idx_cls_sc_2 = np.where(sc_cluster == 2)
area_54_categ_1_sc_2 = area_54_categ_1.iloc[idx_cls_sc_2[0]]

idx_cls_sc_3 = np.where(sc_cluster == 3)
area_54_categ_1_sc_3 = area_54_categ_1.iloc[idx_cls_sc_3[0]]

idx_cls_sc_4 = np.where(sc_cluster == 4)
area_54_categ_1_sc_4 = area_54_categ_1.iloc[idx_cls_sc_4[0]]

idx_cls_sc_5 = np.where(sc_cluster == 5)
area_54_categ_1_sc_5 = area_54_categ_1.iloc[idx_cls_sc_5[0]]

idx_cls_sc_6 = np.where(sc_cluster == 6)
area_54_categ_1_sc_6 = area_54_categ_1.iloc[idx_cls_sc_6[0]]

idx_cls_sc_7 = np.where(sc_cluster == 7)
area_54_categ_1_sc_7 = area_54_categ_1.iloc[idx_cls_sc_7[0]]

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_0["end_x"], area_54_categ_1_sc_0["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_0["start_x"], area_54_categ_1_sc_0["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_1["end_x"], area_54_categ_1_sc_1["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_1["start_x"], area_54_categ_1_sc_1["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_2["end_x"], area_54_categ_1_sc_2["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_2["start_x"], area_54_categ_1_sc_2["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_3["end_x"], area_54_categ_1_sc_3["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_3["start_x"], area_54_categ_1_sc_3["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_4["end_x"], area_54_categ_1_sc_4["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_4["start_x"], area_54_categ_1_sc_4["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_5["end_x"], area_54_categ_1_sc_5["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_5["start_x"], area_54_categ_1_sc_5["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_6["end_x"], area_54_categ_1_sc_6["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_6["start_x"], area_54_categ_1_sc_6["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# area_54のarea_54_categ_1の分布
plt.scatter(area_54_categ_1_sc_7["end_x"], area_54_categ_1_sc_7["end_y"], color ='r')
plt.scatter(area_54_categ_1_sc_7["start_x"], area_54_categ_1_sc_7["start_y"])
plt.title("Start - End Point")
plt.xlabel("long")
plt.ylabel("lat")
plt.xlim(-8.829099999999999, -8.4291)
plt.ylim(40.957899999999995, 41.3579)
plt.grid()

In [ ]:
# # 残差平方和を格納するリスト
# sum_squared_distance = []

# # 1～15クラスタまで計算
# for i in range(1, 15):

#     # n_clusters= i を 動的に変えてSSEを算出
#     sc = cluster.SpectralClustering(n_clusters=i, affinity="nearest_neighbors")

#     # クラスタリングの計算を実行
#     sc.fit(area_54_dummy_categ_1)

#     # SSEを格納
#     sum_squared_distance.append(sc.inertia_)

# plt.plot(range(1, 15), sum_squared_distance, marker='o')
# plt.title("Elbow Method")
# plt.xlabel("Number of Clusters")
# plt.ylabel("Sum of squared distance")

#### 平日 - 15:00

In [ ]:
area_54_categ_2 = area_54_df.query(
    "weekday not in ['sun', 'sat'] and 14 <= hour <= 16")

area_54_categ_2.shape

#### 平日 - 22:00

In [ ]:
area_54_categ_3 = area_54_df.query(
    "weekday not in ['sun', 'sat'] and 21 <= hour <= 23")

area_54_categ_3.shape

## AREA_54の需要台数を予測

In [ ]:
df_call_type_c_limited.groupby(
        ["month", "weekday", "hour", "minute", "holiday"]).max().head()

In [ ]:
df_call_type_c_grouped_area54 = df_call_type_c_limited.groupby(
    ["month", "weekday", "hour", "minute", "holiday"]).count()

df_call_type_c_grouped_area54[
    "riding_time_mean"] = df_call_type_c_limited.groupby(
        ["month", "weekday", "hour", "minute",
         "holiday"])["riding_time"].mean()

df_call_type_c_grouped_area54[
    "distance_mean"] = df_call_type_c_limited.groupby(
        ["month", "weekday", "hour", "minute", "holiday"])["distance"].mean()

df_call_type_c_grouped_area54[
    "direction_max"] = df_call_type_c_limited.groupby(
        ["month", "weekday", "hour", "minute", "holiday"])["direction"].max()

# カラム名を変更
df_call_type_c_grouped_area54.rename(columns={"area": "count"}, inplace=True)

# 要らない列を削除
df_call_type_c_grouped_area54.drop([
    "start_x", "start_y", "end_x", "end_y", "riding_time", "distance",
    "direction"
],
                                   axis=1,
                                   inplace=True)

col_names = [
    "month", "weekday", "hour", "minute", "holiday", "count",
    "riding_time_mean", "distance_mean", "direction_max"
]

# インデックスをカラムに戻す
df_call_type_c_grouped_area54.reset_index(inplace=True)

df_call_type_c_grouped_area54.head()

### area_54で乗車した際の進行方向

In [ ]:
sns.countplot(x="direction", hue="holiday", data=df_call_type_c_limited.query("area == 'area_54'"))

### ここまでのデータを保存

In [ ]:
df_call_type_c_limited.to_csv("data/edit_train_call_type_c.csv", index=False, header=True)

## 分析方針

１.全ドライバーの移動距離と乗車時間と乗車回数の合計を算出  
２.乗車時間と乗車回数の２軸でプロット  
３.クラスタリング  
４.  

乗車時間／乗車回数　で優良ドライバーを特定


タクシーの料金は、初乗り運賃の時点から「距離」と「時間」を併用。

タクシーの料金は基本的に一定距離内の初乗り運賃（例：東京：最長1.052kmまで、上限410円）
を越えて乗車した場合の走行距離に応じた「距離制」で計算されるが、走行速度が10km/h以下になった場合には、走行時間を距離に置き換えて計算する「時間距離併用制」が適用される。